<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Day2Xmas</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Day2Xmas</h1>
    <hr />
    @RenderBody()
    <script src="~/js/site.js"></script>
</body>
</html>
