@{ 
    int year = DateTime.Now.Year;
    int days = (new DateTime(year, 12, 24) - DateTime.Now).Days;

}

<h3>Days2Xmas1</h3>

<p>There are @days days left until christmas in @year.</p>

<p><a href="/">Home</a></p>