@inject IDays2XmasCalculator days2XmasCalculator

<h3>Days2Xmas6</h3>

<p>There are @days2XmasCalculator.CalculateDays(ViewBag.year) days days left until christmas in @ViewBag.year.</p>

<p><a href="/">Home</a></p>

