@model Days2XmasViewModel

<h3>Days2Xmas9</h3>

<partial name="ShowDays2Xmas" model="@Model" />
<partial name="ShowDays2Xmas" model="@Model" />
<partial name="ShowDays2Xmas" model="@Model" />

<p><a href="/">Home</a></p>

