@model Days2Xmas_ASPNETMVC_Demo.Models.Days2Xmas8ViewModel

<h3>Days2Xmas8</h3>

<form method="post" action="/Days2Xmas08">
    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <input type="submit" value="Calculate"  />
</form>


<p><a href="/">Home</a></p>