@{
    string[] menuItems = { "Days2Xmas01", 
        "Days2Xmas02", "Days2Xmas03", 
        "Days2Xmas04", "Days2Xmas05", "Days2Xmas06",
        "Days2Xmas07/2022","Days2Xmas07", "Days2Xmas08", 
        "Days2Xmas09", "Days2Xmas10", "Days2XmasAPI/2020", "Days2Xmas11"};
}
<h1>Home</h1>

<ul>
    @foreach (var menuItem in menuItems)
    {
        <li><a href="@menuItem">@menuItem</a></li>
    }
</ul>


